<div flex>
 <md-toolbar>

 <div layout="row">
      <h3>
          <md-button  ng-hide="nivel != 1 && nivel != 3"  class="md-warn md-raised md-hue-2" href="#discapacidad/registro">Registrar</md-button>
            <md-button class="md-warn md-raised md-hue-2" href="#discapacidad/consultar">Consultar</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#discapacidad/estadisticas" >Estadísticas</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#discapacidad/reportes" >Reportes</md-button>
        
          </h3>
      </h3>

      <div flex class="tituloBeneficioOpciones"><h1>Beca Discapacidad</h1></div>
      </div>
    </md-toolbar>
</div>



<div class="tituloinfo">
 <h1>Beneficio</h1>
 <h2>Beca Ayuda Discapacidad</h2>
 <br>
<img src="images/svg/sign.svg" width="250">
</div>