
<div flex>
 <md-toolbar>

 <div layout="row">
       		      <h3>
          <md-button  ng-hide="nivel != 1 && nivel != 3"  class="md-warn md-raised md-hue-2" href="#academica/registro">Registrar</md-button>
            <md-button class="md-warn md-raised md-hue-2" href="#academica/consultar">Consultar</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#academica/estadisticas" >Estadísticas</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#academica/reportes" >Reportes</md-button>
        
          </h3>
      </h3>

      <div flex class="tituloBeneficioOpciones"><h1>Beca Academica</h1></div>
      </div>
    </md-toolbar>
</div>





  
<div class="well" ui-view>
  


</div>
 
<div class="tituloinfo">
 <h1>Beneficio</h1>
 <h2>Beca Academica</h2>
 <br>
<img src="images/svg/people.svg" width="250">
</div>