<md-toolbar>
 <div layout="row">
      <h3>
          <md-button  ng-hide="nivel != 1 && nivel != 3"  class="md-warn md-raised md-hue-2" href="#comedor/registro">Registrar</md-button>
            <md-button class="md-warn md-raised md-hue-2" href="#comedor/consultar">Consultar</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#comedor/estadisticas" >Informacion</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#comedor/reportes" >Reportes</md-button>
        
          </h3>
      </h3>

      <div flex class="tituloBeneficioOpciones"><h1>Beca Comedor</h1></div>
      </div>
    </md-toolbar>




    <div class="tituloinfo">
 <h1>Beneficio</h1>
 <h2>Beca Comedor</h2>
 <br>
<img src="images/svg/food.svg" width="250">
</div>