
<div flex>
 <md-toolbar>

 <div layout="row">
      <h3>
        <md-button class="md-warn md-raised md-hue-2" href="#socialcritica/registro">Registrar</md-button>
        <md-button class="md-warn md-raised md-hue-2" href="#socialcritica/consultar">Consultar</md-button>
        <md-button class="md-warn md-raised md-hue-2"href="#socialcritica/modificar" >Modificar</md-button>
        <md-button class="md-warn md-raised md-hue-2"href="#socialcritica/registro">Buscar</md-button>
        
      </h3>

      <div flex class="tituloBeneficioOpciones"><h1>Beca Ayuda Social Critica</h1></div>
      </div>
    </md-toolbar>
</div>





  
<div class="well" ui-view>
  


</div>
 
<div class="tituloinfo">
 <h1>Beneficio</h1>
 <h2>Beca Discapacidad</h2>
 <br>
<img src="images/svg/sign.svg" width="250">
</div>