
 <md-toolbar>

 <div layout="row">
      <h3>
        <md-button class="md-warn md-raised md-hue-2">Registrar</md-button>
        <md-button class="md-warn md-raised md-hue-2" >Consultar</md-button>
        <md-button class="md-warn md-raised md-hue-2">Modificar</md-button>
        <md-button class="md-warn md-raised md-hue-2">Buscar</md-button>
        
      </h3>
<div flex>
	
	<h1 class="tituloBeneficioOpciones" >Beca Comedor</h1>
</div>
      
      </div>
    </md-toolbar>

<div class="opcionesBeneficios">


<md-list>



  

<md-list-item>
<div layout="column" class="opcionesBeneficios">




  <h1>Opciones</h1>
  

 




</md-button>
<md-button class="md-warn md-raised md-hue-2" >
 Consultar</md-button>
<md-divider></md-divider>
<md-button class="md-warn md-raised md-hue-2" > Modificar</md-button>
<md-divider></md-divider>
<md-button class="md-warn md-raised md-hue-2" > Buscar</md-button>
<md-divider></md-divider>
</div>

</md-list-item>

</md-list>



  
</div>

