
 <md-toolbar>

 <div layout="row">
      <h3>
        <md-button class="md-warn md-raised md-hue-2">Registrar</md-button>
        <md-button class="md-warn md-raised md-hue-2" >Consultar</md-button>
        <md-button class="md-warn md-raised md-hue-2">Modificar</md-button>
        <md-button class="md-warn md-raised md-hue-2">Buscar</md-button>
        
      </h3>

      <div flex class="tituloBeneficioOpciones" ><h1>Beca Deporte</h1></div>
      </div>
    </md-toolbar>

<div class="opcionesBeneficios">


<h1>EN CONSTRUCCION</h1>


  
</div>

