<div ng-controller="estadisticasGlobales">


<md-toolbar>

    <div layout="row">
    <h3>

            <md-button class="md-warn md-raised md-hue-2" href="#estadisticas/becas">Becas</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#estadisticas/comedor" >Comedor</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#estadisticas/ayudantias" >Ayudantias</md-button>
             <md-button class="md-warn md-raised md-hue-2"href="#estadisticas/preparadurias" >Preparadurias</md-button>
        
          </h3>

          <div flex class="tituloBeneficioOpciones"><h1>Estadisticas</h1></div>
        </div>
    </md-toolbar>

 <h1 class="tituloinfo">Estadisticas Becas</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
     
      <th>INFO</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td>Beneficiarios</td>
      <td>{{totalbeneficiarios}}</td>
      
    </tr>
    <tr>
      
      <td>Hombres</td>
      <td>{{totalbeneficiarioshombres}}</td>
      
    </tr>
    <tr>
      
      <td>Mujeres</td>
      <td>{{totalbeneficiariosmujeres}}</td>
     
    </tr>
    <tr>
    </tr>


    </tbody>
 

    <tbody>
    <tr>
      
      <td>Administracion</td>
      <td>{{totalbeneficiarios3}}</td>
     
    </tr>

       <tbody>


           <tr>
      
      <td>Agroalimentacion</td>
      <td>{{totalbeneficiarios10}}</td>
     
    </tr>


    <tr>
      
      <td>Contaduria</td>
      <td>{{totalbeneficiarios11}}</td>
     
    </tr>



       <tr>
      
      <td>Construccion Civil</td>
      <td>{{totalbeneficiarios5}}</td>
     
    </tr>
      

          <tr>
      
      <td>Electricidad</td>
      <td>{{totalbeneficiarios7}}</td>
     
    </tr>


        <tr>
      
      <td>Quimica</td>
      <td>{{totalbeneficiarios9}}</td>
     
    </tr>




 


    <tr>
      
      <td>Instrumentacion</td>
      <td>{{totalbeneficiarios6}}</td>
     
    </tr>




    <tr>
      
      <td>Informatica</td>
      <td>{{totalbeneficiarios8}}</td>
     
    </tr>


    <tr>
      
      <td>Mecanica</td>
      <td>{{totalbeneficiarios4}}</td>
     
    </tr>




  </tbody>
</table>


</div>