
	<md-toolbar>

    <div layout="row">
    <h3>

            <md-button class="md-warn md-raised md-hue-2" href="#estadisticas/becas">Becas</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#estadisticas/comedor" >Comedor</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#estadisticas/ayudantias" >Ayudantias</md-button>
             <md-button class="md-warn md-raised md-hue-2"href="#estadisticas/preparadurias" >Preparadurias</md-button>
        
          </h3>

          <div flex class="tituloBeneficioOpciones"><h1 style="margin-right:5%">Estadisticas Globales </h1></div>
        </div>
    </md-toolbar>



<div class="tituloinfo">
 <h1>Estadisticas Globales</h1>

 <br>
<img src="images/svg/presentation-board-with-graph.svg" width="200">
</div>





