<md-content class="contenido" flex>
	
	<div layout="row">
   

                    <div flex>
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="/images/svg/people-1.svg" class="s48" flex></md-icon>
                            <md-card-title-text>
                                <h1>Condicion Social Critica</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-warn">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                    </div>



 <div flex>
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="svg/people-1.svg" class="s48" flex></md-icon>
                            <md-card-title-text>
                                <h1>Condicion Social</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-warn">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                    </div>



                     <div flex>
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="svg/people-1.svg" class="s48" flex></md-icon>
                            <md-card-title-text>
                                <h1>Condicion Social Critica</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-warn">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                    </div>

  </div>




  <div layout="row">
   

                    <div flex>
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="svg/people-1.svg" class="s48" flex></md-icon>
                            <md-card-title-text>
                                <h1>Condicion Social Critica</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-warn">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                    </div>



 <div flex>
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="svg/people-1.svg" class="s48" flex></md-icon>
                            <md-card-title-text>
                                <h1>Condicion Social Critica</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-warn">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                    </div>



                     <div flex>
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="svg/people-1.svg" class="s48" flex></md-icon>
                            <md-card-title-text>
                                <h1>Condicion Social Critica</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-warn">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                    </div>

  </div>





   </md-content>