<md-content class="contenido" flex>
    
    <div layout="row">
   

                    <div flex>
                    <a  href="#socialcritica">
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="/images/svg/people-1.svg" class="s48" flex></md-icon>
                           			 <md-divider></md-divider>
                            <md-card-title-text>
                                <h1>Condicion Social</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-primary botonmenu">Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                        </a>
                    </div>
                    



 <div flex>         <a href="#academica">
                        <md-card class="md-whiteframe-9dp" >
                            <md-icon md-svg-src="/images/svg/people.svg" class="s48" flex></md-icon>
                           			 <md-divider></md-divider>
                            <md-card-title-text>
                                <h1>Academica</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-primary botonmenu" >Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                        </a>
                    </div>

        


                     <div flex>
                     <a href="#deporte">
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="/images/svg/sports.svg" class="s48" flex></md-icon>
                           			 <md-divider></md-divider>
                            <md-card-title-text>
                                <h1>Deporte</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-primary botonmenu" >Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                        </a>
                    </div>

  </div>




  <div layout="row">
   

                    <div flex>
                    <a href="#discapacidad">
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="/images/svg/sign.svg" class="s48" flex></md-icon>
                           			 <md-divider></md-divider>
                            <md-card-title-text>
                                <h1>Discapacidad</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-primary botonmenu" >Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                        </a>
                    </div>



 <div flex>             
                <a href="#comedor">
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="/images/svg/food.svg" class="s48" flex></md-icon>
                           			 <md-divider></md-divider>
                            <md-card-title-text>
                                <h1>Comedor</h1></md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-primary botonmenu" >Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                        </a>
                    </div>

        <div flex>
        <a href="#pya">
                        <md-card class="md-whiteframe-9dp">
                            <md-icon md-svg-src="/images/svg/technology.svg" class="s49" flex></md-icon>
                                     <md-divider></md-divider>
                            <md-card-title-text>
                                <h1>Ayudantias/Preparadurias</h1>
                                </md-card-title-text>
                            <md-card-action layout="column">
                                <md-button class=" boton md-raised md-primary  botonmenu" >Ingresar</md-button>
                            </md-card-action>
                        </md-card>
                        </a>
                    </div>

                     

  </div>





   </md-content>