
	
<md-toolbar>

    <div layout="row">
    <h3>

            <md-button class="md-warn md-raised md-hue-2" href="#reportes/becas">Becas</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#reportes/comedor" >Comedor</md-button>
            <md-button class="md-warn md-raised md-hue-2"href="#reportes/ayudantias" >Ayudantias</md-button>
             <md-button class="md-warn md-raised md-hue-2"href="#reportes/preparadurias" >Preparadurias</md-button>
        
          </h3>

          <div flex class="tituloBeneficioOpciones"><h1>Reportes</h1></div>
        </div>
   </md-toolbar>


<div class="tituloinfo">
 <h1>Reportes</h1>
 <br>
<img src="images/svg/file.svg" width="250">
</div>


