
<div flex>
	<md-toolbar>

 		<div layout="row">
      		<h3>
        		<md-button  ng-hide="nivel != 1 && nivel != 3" class="md-warn md-raised md-hue-2" href="#socialcritica/registro">Registrar</md-button>
        		<md-button class="md-warn md-raised md-hue-2" href="#socialcritica/consultar">Consultar</md-button>
        		<md-button class="md-warn md-raised md-hue-2"href="#socialcritica/estadisticas" >Estadísticas</md-button>
        		<md-button class="md-warn md-raised md-hue-2"href="#socialcritica/reportes" >Reportes</md-button>
        
      		</h3>

      		<div flex class="tituloBeneficioOpciones"><h1>Beca Condicion Social </h1></div>
      	</div>
    </md-toolbar>
</div>






  
<div class="well" ui-view>
  


</div>
<div class="tituloinfo">
 <h1>Beneficio</h1>
 <h2>Beca Condicion Social </h2>
 <br>
<img src="images/svg/people-1.svg" width="250">
</div>