<div ng-controller="preparaduriaReporte">

<md-toolbar>

    <div layout="row">
          <h3>
              <div class="btn-group">
            <md-button type="button" ng-hide="nivel != 1 && nivel != 3" class="md-warn md-raised md-hue-2 dropdown-toggle" data-toggle="dropdown">
              Registrar <span class="caret"></span></md-button>
            <ul class="dropdown-menu" role="menu">
             <li><a href="#pya/registrar/preparaduria">Preparaduria</a></li>
             <li><a href="#pya/registrar/ayudantia">Ayudantia</a></li>
            </ul>
            </div>

            <div class="btn-group">
            <md-button type="button" class="md-warn md-raised md-hue-2 dropdown-toggle" data-toggle="dropdown">
              Consultar <span class="caret"></span></md-button>
            <ul class="dropdown-menu" role="menu">
             <li><a href="#pya/consultar/preparaduria">Preparaduria</a></li>
             <li><a href="#pya/consultar/ayudantia">Ayudantia</a></li>
            </ul>
            </div>
            <div class="btn-group">
            <md-button type="button" class="md-warn md-raised md-hue-2 dropdown-toggle" data-toggle="dropdown">
              Estadísticas <span class="caret"></span></md-button>
            <ul class="dropdown-menu" role="menu">
             <li><a href="#pya/estadisticas/preparaduria">Preparaduria</a></li>
             <li><a href="#pya/estadisticas/ayudantia">Ayudantia</a></li>
            </ul>
            </div>

            <div class="btn-group">
            <md-button type="button" class="md-warn md-raised md-hue-2 dropdown-toggle" data-toggle="dropdown">
              Reportes <span class="caret"></span></md-button>
            <ul class="dropdown-menu" role="menu">
             <li><a href="#pya/reportes/preparaduria">Preparaduria</a></li>
             <li><a href="#pya/reportes/ayudantia">Ayudantia</a></li>
            </ul>
            </div>
        
          </h3>

          <div flex class="tituloBeneficioOpciones"><h1>Preparadurias/Ayudantias</h1></div>
        </div>
    </md-toolbar>

<h1 class="tituloinfo">Reportes y planillas Preparaduria</h1>
<hr>

<div class="tituloinfo">
	<button  class="btn btn-success btn-lg"ng-click="openPdf()">Abrir PDF</button>
    <button  class=" btn btn-success btn-lg"ng-click="downloadPdf()">Descargar PDF</button>
	<button  class=" btn btn-success btn-lg"ng-click="printPdf()">Imprimir PDF</button>
</div>
	
</div>