<div ng-hide="nivel != 3">
<div flex>
 <md-toolbar>

 <div layout="row">
      <h3>
        <md-button class="md-warn md-raised md-hue-2" href="#pcontrol/registro">Registrar Usuario</md-button>
        <md-button class="md-warn md-raised md-hue-2" href="#pcontrol/consultar">Consultar Usuarios</md-button>
        <md-button class="md-warn md-raised md-hue-2" href="#pcontrol/consultar">Auditar</md-button>
        <md-button class="md-warn md-raised md-hue-2" href="#pcontrol/bdatos" >Base de datos</md-button>
        
        
      </h3>

      <div flex class="tituloBeneficioOpciones"><h1>Panel de Controlx</h1></div>
      </div>
    </md-toolbar>
</div>


<div class="tituloinfo">
<h1>Bienvenido al Panel de Control</h1>

  <svg src="images/svg/admin.svg" width="250">
</div>


</div>