 <div>

  <div >
 <md-toolbar ng-hide="nivel != 1 && nivel != 3">

 <div layout="row">
      <h3>
 <md-button   class="md-warn md-raised md-hue-2" href="#pcontrol/registro">Registrar Usuario</md-button>
        <md-button  class="md-warn md-raised md-hue-2" href="#pcontrol/consultar">Consultar Usuarios</md-button>
        <md-button  class="md-warn md-raised md-hue-2"href="#pcontrol/bdatos" >Auditar</md-button>
        <md-button  class="md-warn md-raised md-hue-2"href="#pcontrol/bdatos" >Base de datos</md-button>
        
        
      </h3>

      <div flex class="tituloBeneficioOpciones"><h1>Panel de Control</h1></div>
      </div>
    </md-toolbar>


<h1>Auditar</h1>

</div>